.cards
   .card 
      a(href="#") 
         .card__item
            .card__logo.card__logo-facebook
               <i class="fa-brands fa-facebook-f"></i>
               //- +image('facebook.png')(class='card__logo-img')
               //- p.card__logo-text Facebook
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#") 
         .card__item
            .card__logo.card__logo-instagram
               <i class="fa-brands fa-instagram"></i>
               //- +image('instagram.png')(class='card__logo-img')
               //- img(src="../assets/images/Instagram.png", alt="").card__logo-img
               //- p.card__logo-text Instagram
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-telegram
               <i class="fa-brands fa-telegram"></i>
               //- +image('telegram.png')(class='card__logo-img')
               //- p.card__logo-text Telegram
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-youtube
               <i class="fa-brands fa-youtube"></i>
               //- +image('youtube.png')(class='card__logo-img')
               //- p.card__logo-text Youtube
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
            
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-Discord
               <i class="fa-brands fa-discord"></i>
               //- +image('discord.png')(class='card__logo-img')
               //- p.card__logo-text Discord
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-whatsapp
               <i class="fa-brands fa-whatsapp"></i>
               //- +image('whatsapp.png')(class='card__logo-img')
               //- p.card__logo-text Whatsapp
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-wechat 
               <i class="fa-brands fa-weixin"></i>
               //- +image('wechat.png')(class='card__logo-img')
               //- p.card__logo-text Wechat
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-reddit
               <i class="fa-brands fa-reddit-alien"></i>
               //- +image('reddit.png')(class='card__logo-img')
               //- p.card__logo-text Reddit
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-tiktok
               <i class="fa-brands fa-tiktok"></i>
               //- +image('tiktok.png')(class='card__logo-img')
               //- p.card__logo-text TikTok
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-twitter
               <i class="fa-brands fa-twitter"></i>
               //- +image('twitter.png')(class='card__logo-img')
               //- p.card__logo-text Twitter
            .card-descr
               .card__title 
                  .card__title-text Anton Social
               .card__subtitle
                  .card__subtitle-text а тут какое то описание