.cards
   .card 
      a(href="#") 
         .card__item
            .card__logo.card__logo-facebook
               <i class="fa-brands fa-facebook-f"></i>
               //- +image('facebook.png')(class='card__logo-img')
               //- p.card__logo-text Facebook
            .card-descr
               .card__title 
                  .card__title-text Facebook
               .card__subtitle
                  .card__subtitle-text "Design is not just what it looks like and feels like. It's how it works." - Steve Jobs
   .card 
      a(href="#") 
         .card__item
            .card__logo.card__logo-instagram
               <i class="fa-brands fa-instagram"></i>
               //- +image('instagram.png')(class='card__logo-img')
               //- img(src="../assets/images/Instagram.png", alt="").card__logo-img
               //- p.card__logo-text Instagram
            .card-descr
               .card__title 
                  .card__title-text Instagram
               .card__subtitle
                  .card__subtitle-text "Good design is obvious. Great design is transparent." - Joe Sparano
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-telegram
               <i class="fa-brands fa-telegram"></i>
               //- +image('telegram.png')(class='card__logo-img')
               //- p.card__logo-text Telegram
            .card-descr
               .card__title 
                  .card__title-text Telegram
               .card__subtitle
                  .card__subtitle-text "Design is intelligence made visible." - Alina Wheeler
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-youtube
               <i class="fa-brands fa-youtube"></i>
               //- +image('youtube.png')(class='card__logo-img')
               //- p.card__logo-text Youtube
            .card-descr
               .card__title 
                  .card__title-text YouTube
               .card__subtitle
                  .card__subtitle-text "Design is not just a visual medium, it's a language." - Frank Chimero
            
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-Discord
               <i class="fa-brands fa-discord"></i>
               //- +image('discord.png')(class='card__logo-img')
               //- p.card__logo-text Discord
            .card-descr
               .card__title 
                  .card__title-text Discord
               .card__subtitle
                  .card__subtitle-text "Good design is a lot like clear thinking made visual." - Edward Tufte
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-whatsapp
               <i class="fa-brands fa-whatsapp"></i>
               //- +image('whatsapp.png')(class='card__logo-img')
               //- p.card__logo-text Whatsapp
            .card-descr
               .card__title 
                  .card__title-text Whatsapp
               .card__subtitle
                  .card__subtitle-text "Design is not just what it looks like, it's also how it functions." - Jonathan Ive
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-wechat 
               <i class="fa-brands fa-weixin"></i>
               //- +image('wechat.png')(class='card__logo-img')
               //- p.card__logo-text Wechat
            .card-descr
               .card__title 
                  .card__title-text Wechat
               .card__subtitle
                  .card__subtitle-text "Design is not decoration. It's communication." - Paula Scher
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-reddit
               <i class="fa-brands fa-reddit-alien"></i>
               //- +image('reddit.png')(class='card__logo-img')
               //- p.card__logo-text Reddit
            .card-descr
               .card__title 
                  .card__title-text Reddit
               .card__subtitle
                  .card__subtitle-text "Design is thinking made visual." - Saul Bass
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-tiktok
               <i class="fa-brands fa-tiktok"></i>
               //- +image('tiktok.png')(class='card__logo-img')
               //- p.card__logo-text TikTok
            .card-descr
               .card__title 
                  .card__title-text Tiktok
               .card__subtitle
                  .card__subtitle-text "Design is the silent ambassador of your brand." - Paul Rand
   .card 
      a(href="#")
         .card__item
            .card__logo.card__logo-twitter
               <i class="fa-brands fa-twitter"></i>
               //- +image('twitter.png')(class='card__logo-img')
               //- p.card__logo-text Twitter
            .card-descr
               .card__title 
                  .card__title-text Twitter
               .card__subtitle
                  .card__subtitle-text "Design is where science and art break even." - Robin Mathew