.card__item {
  border-radius: 8px;
}

.card__logo-facebook {
  //background-color: rgb(63, 85, 141);
  color: rgb(216, 220, 230);
}

.card__logo-instagram {
  //background-color: rgb(116, 48, 181);
  color: rgb(229, 82, 65);
}

.card__logo-telegram {
  //background-color: rgb(215, 224, 232);
  color: rgb(57, 130, 192);

}

.card__logo-youtube {
  //background-color: rgb(242, 200, 200);
  color: rgb(197, 56, 58);
}

.card__logo-Discord {
  //background-color: rgb(64, 67, 71);
  color: rgb(115, 132, 205);

}

.card__logo-whatsapp {
  //background-color: rgb(214, 234, 192);
  color: rgb(117, 197, 120);

}

.card__logo-wechat {
  //background-color: rgb(223, 229, 229);
  color: rgb(117, 193, 69);
}

.card__logo-reddit {
  //background-color: rgb(234, 187, 159);
  color: rgb(228, 80, 39);
}

.card__logo-tiktok {
  //background-color: rgb(157, 209, 255);
  color: rgb(227, 49, 114);
}

.card__logo-twitter {
  //background-color: rgb(222, 232, 238);
  color: rgb(72, 148, 226);
}