.dark {
  background-color: #101829;
}

.dark .wrapper {
  background-color: #101829;;
}

.dark .header {
  background-color: #101829;
}

.dark .card {
  border-radius: 8px;
}

.dark .person__logo {
  background-color: #fff;
}

.dark .person__name-text {
  color: #fff;
}

.dark .card__title-text {
  color: $darkThemeCardTitleText;
}

.dark .card__subtitle-text {
  color: $darkThemeCardSubtitleText;
}

.dark .switch__theme-img {
  filter: invert(1);
  transform: rotateX(180deg);
}

.dark {

  .card {
    &__logo {
      background: #303341;
    }
  }

}